.head-content-wrapper
  .head-content
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
          a(
            class='category'
            href='/blog/#{entry.category.fields.title}'
           )
           if entry.category
            | #{entry.category.fields.title}
           else
            | No category specified!
          h1.page-title= entry.title
          p= entry.box_text
            .meta
              .row
                .col-md-10
                  span By
                  if entry.author
                    | #{entry.author[0].fields.name} 
                  else
                    | No author specified!
                .col-md-2
                  time.meta-date
                  | #{moment(entry.date).format("MMM D, YYYY")}
.span.scrolltomain.hidden-xs.hidden-sm
