include ./mixins/_header
include ./mixins/_split-panel
include ./mixins/_img-panel
extends ./_layouts/_default

block header
  +header('white')

block content
  //- featured posts are limited to 1 ... so why iterate?
  - for post in contentful.featured_post
    - var category = post.category.fields.title
    - var permalink = post._url.replace(/.html$/,"") 
    .container
      .page-blog-landing
        .panel-master
          a(class='panel-master-heading', href='/blog/#{category}')= category
          .panel-master-body
            a(href= permalink)= post.title
              br
              small= post.boxTitle
  
        .row.post-list
          .col-md-4
            .panel-common.panel-quotes
              .panel-quote-heading
                h3 Quote
              .panel-quote-body
                span.title= contentful.quotes[0].body
                span.author= contentful.quotes[0].author
          .col-md-4
            +split-panel()
          .col-md-4
            +img-panel()
